<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="bg-inherit flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <label class="text-red-600">
            STS
        </label> &nbsp; Code Camp    
    </a>
    
    <!-- <a [routerLink]="['about']" routerLinkActive="router-link-active" >About</a>
    <button (click)="register()">Show Alert</button> -->
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-x4 font-bold leading-tight tracking-tight text-gray-900 md:text-1xl text-orange-500">
                Registration Form
            </h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
                
                <div>
                    <label for="name" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white ">Name <span class="text-red-700">*</span></label>
                    <input autocomplete="on" type="text" formControlName="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Name"  required minlength="4" pattern="[A-Za-z\s]*">
                    <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
                        <small class="text-red-700" *ngIf="form.get('name')?.hasError('required')">Name is required. </small>
                        <small class="text-red-700" *ngIf="form.get('name')?.hasError('minlength')">Minimum 4 characters. </small>
                        <small class="text-red-700" *ngIf="form.get('name')?.hasError('pattern') &&!form.get('name')?.hasError('minlength')">Please enter valid name. </small>
                        
                    </div>
                </div>
                
                <div>
                    <label for="phone" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white ">Phone <span class="text-red-700">*</span></label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none dark:text-white">
                            09
                        </div>
                        
                        <input autocomplete="on" type="text" formControlName="phone" id="phone" class="peer w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pr-3 pl-10 py-2 transition duration-300 ease focus:outline-none focus:border-primary-600 hover:border-slate-300 shadow-sm focus:shadow dark:text-white" placeholder="123456789" required="" minlength="8" maxlength="9" pattern="[0-9]*">
                        
                    </div>
                    <div *ngIf="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)">
                        <small class="text-red-700" *ngIf="form.get('phone')?.hasError('required')">Phone number is required.</small>
                        <small class="text-red-700" *ngIf="form.get('phone')?.hasError('minlength')">Minimum 8/9 numbers.</small>
                        <small class="text-red-700" *ngIf="form.get('phone')?.hasError('maxlength')">Maximmum 9 numbers.</small>
                        <small class="text-red-700" *ngIf="form.get('phone')?.hasError('pattern') 
                        && !form.get('phone')?.hasError('minlength')">Please enter valid phone number. </small>
                    </div>
                </div>
                
                <div>
                    <label for="email" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white ">Email </label>
                    <input autocomplete="on" type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com" >
                    <small class="text-red-700" *ngIf="form.get('email')?.hasError('email')">Please enter valid email. </small>
                </div>
                
                <div>
                    <label class=" mb-2 text-sm font-medium text-gray-900 dark:text-white ">
                        Gender <span class="text-red-700">*</span>
                    </label>
                    <div class="flex gap-x-6">
                        <div class="flex">
                            <input formControlName="gender" autocomplete="on" type="radio"  value="male" class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none" id="gender-1" required="">
                            <label for="gender-1" class="text-sm text-gray-500 ms-2 dark:text-white" >Male</label>
                        </div>
                        
                        <div class="flex">
                            <input formControlName="gender" autocomplete="on" type="radio"  value="female" class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none" id="gender-2" required="">
                            <label for="gender-2" class="text-sm text-gray-500 ms-2 dark:text-white">Female</label>
                        </div>
                        
                    </div>
                    <small class="text-red-700" *ngIf="form.get('gender')?.hasError('required') && (form.get('gender')?.touched || form.get('gender')?.dirty)">Please select a gender. </small>
                </div>
                
                
                <div class="flex items-start">
                    <div class="ml-3 text-sm">
                        <label class="size-5 text-red-500 dark:text-red-300">
                            For more information, please call this phone number. 
                            <a class="flex justify-center text-blue-600" href="tel:09763065194">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 pt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                </svg>
                                <label class="font-bold pt-1" >09763065194</label>
                            </a>
                        </label>
                    </div>
                </div>
                <button type="submit" class="w-full text-white bg-pink-600 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Register
                </button>
                
                
            </form>
        </div>
    </div>
    
    <h1>hello</h1>
    <div role="status">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
    
    
</div>

